BASE_URL=https://share.csis.gov.ls
USERNAME=CHANGE_ME
PASSWORD=CHANGE_ME
REMOTE_HOST=41.203.191.69
REMOTE_USER=lmsnwp
SSH_IDENTITY=/home/ubuntu/.ssh/lms_hourly_sync_key
MODE=hourly
WORKDIR=/opt/climweb-forecast-sync/work
STATE_FILE=/opt/climweb-forecast-sync/work/state_hourly.json
CITY_MAPPING_CSV=/opt/climweb-forecast-sync/config/city_mapping_districts_plus_special.csv
ALLOWED_CITIES_FILE=/opt/climweb-forecast-sync/config/allowed_cities_districts_plus_special.txt
